<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Artista- GroundZero</title>
</head>
<body>
    <div>
        <h2>Formulario CRUD- Agregar Artista</h2>
        <form action="artistasAdd" method="POST">
            {% csrf_token %}

            <pre>Rut:                 <input type="text" name="rut"           ></pre>
            <pre>Nombre:              <input type="text" name="nombre"        ></pre>
            <pre>Apellido P. :        <input type="text" name="ap_paterno"    ></pre>
            <pre>Apellido M. :        <input type="text" name="ap_materno"    ></pre>
            <pre>Fecha Nacimiento:    <input type="date" name="fec_nacimiento"></pre>
            <pre>Género:              <select name="genero">
                {% for genero in generos %}
                    <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                {% endfor %}
            </select></pre>
            <pre>Celular:            <input type="text" name="celular">        </pre>
            <pre>Email:              <input type="mail" name="email"  >        </pre>
            <pre>Dirección:          <input type="text" name="direccion">      </pre>

            <input type="submit" name="opcion" value="Agregar">

        </form> <br><br>
        <a href="{% url 'crud' %}"> Volver </a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>
    
</body>
</html>